/*----------------------------
    RED DASHED BORDER
----------------------------*/
.block {
    width: 100px;
    height: 100px;
    /* dashed border */
    p.dashed {border-style: dashed;}
    background-image: url(https://www.learncodinganywhere.com/images/tech_logo/The%20Tech%20Academy%20Logo.png);
 }