table {
    border: 1px solid red;
}

td:hover {
    background-color: aqua;
    color: black;
}

tr, th {
    background-color: black;
    color:blueviolet;
}

tr, td {
    background-color: blue;
    color: aliceblue;
}