/*---------------------
    FONT STYLE
------------------------*/
font.family {
    font-family: Arial, Helvetica, sans-serif;
  }

/*-----------------------
  FONT SIZE
--------------------------*/
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

/*-------------------------
    INPUTS
-------------------------*/
input {
  width: 25%;
    border: 1px solid black;
    margin: 2px;
    border-style: single;
    border-width: 1px;
    border-radius: 1%;
    padding: 2%;
    
  }

 